.DS_Store
build
.git
.idea
*.egg-info
dist
output
data/coco
backup
weights/*.weights
weights/*.74
__pycache__
checkpoints
log_mAP
assets
*.json
data/custom/images/*
data/custom/labels/*
data/custom/test.txt